header .wrapper {
  padding: 100px 0 15px 0;
  margin-bottom: 50px;
  .h1-container {
    position: relative;
  }
  a {
    display: inline-flex;
    align-items: flex-end;
    &:hover h1,
    &:focus h1 {
      color: $secondaryColor;
    }
    // &:hover svg,
    // &:focus svg {
    //   fill: $secondaryColor;
    // }
    h1 {
      position: relative;
      font-size: 40px;
      text-transform: lowercase;
      transition: color 0.35s;
    }
    img {
      margin-left: 20px;
    }
  }
}

.h1-container::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $tertiaryColor;
  height: 5px;
}
