header .wrapper {
  padding: 100px 0 15px 0;
  margin-bottom: 50px;
  h1 {
    position: relative;
    font-size: 40px;
    text-transform: lowercase;
  }
}

header .wrapper h1::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $secondaryColor;
  height: 5px;
}
