.item-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-height: 700px;
    border-radius: 4px;
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    color: $secondaryColor;
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .item-level-container h1 {
    font-size: 30px;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  a {
    font-size: 25px;
    transition: color 0.35s;
    &:hover,
    &:focus {
      color: $tertiaryColor;
    }
  }
}
